# --------------------
# Python
# --------------------
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# --------------------
# Streamlit
# --------------------
.streamlit/

# --------------------
# Environment variables
# --------------------
.env

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# IDE
# --------------------
.vscode/
.idea/